
body{
    background-color:#569DAA ; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    background-color: #577D86;
    align-items: center;
}
#nav{
    display: flex;
     margin-left: 800px;
     justify-content: space-around;
    }
#nav li{
    color: whitesmoke;
    margin-left: 50px;
   font-size: x-large;
}
header section img{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: whitesmoke;

}
footer{
    width: 100;
    padding:10px;
    display: flex;
    background-color: #577D86;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
   
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: auto;
    
}
footer p{
    color: whitesmoke;
    font-size: 10;
    
}
footer i{
    color: whitesmoke;
}
 form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    text-align: center;
    
    
 }
 form input,label,select{
    width: 70%;
    height: 25px;
    
    font-size: 20px;
    
 }
 input[type=text] ,select{
    box-shadow: 5px 5px 10px white;
    
 }
 label{
    font-weight: bold;
 }
 input[type=submit]{
    background-color: #569DAA;
    height: 40px;
    box-shadow: 5px 5px 10px #577D86;
 }
 .card img{
    width: 150px;
    height: 150px;
 }
 .card{
    background-color: #87CBB9;
    width:400px;
    height: 250px;
    box-shadow: 5px 5px 20px #87CBB9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
 }
 .card p{
    padding-top: 5px;
 }
 main{
    width: 100%;
    height: calc(100vh-53-53);
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .mainCardsDiv{
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: #577D86;
    
    margin-top: 100px;
    box-shadow: 5px 5px 40px #87CBB9;
    
 }
 fieldset{
    width: 50%;
    box-shadow: 5px 5px 20px #87CBB9;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #577D86;
    padding-top: 20px;
    padding-top: 20px;
    height: 400px;
    
 }